.contact_section {
    background-color: #030043;
    background-image: url("../../images/bg.png");
    background-position: center;
    padding: 100px 0px;
    .contact_content {
        padding: 50px 0px;
        .title {
            font-size: 2.5em;
            color: #fff;
            text-align: center;
            font-weight: 600;
            font-family: "Ubuntu", sans-serif;

            span {
                color: #ffc400;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    background-color: #ffc400;
                    height: 2px;
                    top: 108%;
                    left: -40px;
                    width: 25px;
                }
            }
        }

        .para {
            margin: 50px auto;
            text-align: center;
            font-size: 15px;
            color: #fff;
            line-height: 1.6;
        }

        .wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            text-align: center;
            color: #fff;

            .phone {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px 40px;

                &:hover {
                    background: #0842982e;
                    padding: 20px 40px;
                    box-shadow: 0px 1px 6px 1px #053479;
                }

                .phone_content {
                    margin-top: 20px;
                }

                svg {
                    font-size: 20px;

                }
            }

            .email {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px 40px;

                &:hover {
                    background: #0842982e;
                    padding: 20px 40px;
                    box-shadow: 0px 1px 6px 1px #053479;
                }

                .email_content {
                    margin-top: 20px;
                }

                svg {
                    font-size: 24px;

                }
            }

            .location {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px 40px;

                &:hover {
                    background: #0842982e;
                    padding: 20px 40px;
                    box-shadow: 0px 1px 6px 1px #053479;
                }

                .location_content {
                    margin-top: 20px;
                }

                svg {
                    font-size: 24px;

                }
            }

            .icon {
                width: 55px;
                height: 55px;
                border: 2px solid #ffc400;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
               
                animation: ripple 1s linear infinite;

                &:hover {
                    border: 2px solid #fff;

                    svg {
                        color: #ffc400;
                    }
                }
                @keyframes ripple {
                    0% {
                      box-shadow: 0 0 0 0 rgba(#ffc400, 0.3),
                                  0 0 0 10px rgba(#ffc400, 0.3),
                                 
                    }
                    100% {
                      box-shadow: 0 0 0 10px rgba(#ffc400, 0.3),
                                  0 0 0 1em rgba(#ffc400, 0.3),
                               
                    }
                  }
            }

        }
    }
}

.contact_form_section {
    width: 100%;

    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://demos.codexcoder.com/themeforest/html/casina/casina-demo/assets/images/banner/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // margin: 50px 0px;

    .contact_form_fields {
        background: #240898c7;
        margin: 100px 0px;
        padding: 50px;
        backdrop-filter: blur(14px);
        @media screen and (max-width:767px){
            padding: 30px;
        }

        .head {
            text-align: center;
            font-size: 2rem;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            font-family: "Ubuntu", sans-serif;

            span {
                color: #ffa031;
            }
        }

        .para {
            font-size: 15px;
            color: #ccc;
            text-align: center;
            margin-top: 13px;
            // max-width: 75%;
        }

        .form_fields {
            margin: 50px;
            @media screen and (max-width:767px){
                margin: 30px 0px;
            }

            input[type="number"] {

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;

                }
            }

            .form-control {
                margin-bottom: 30px;
                background: transparent;
                padding: 12px;
                color: #fff;

                &::placeholder {
                    color: #ccc;
                }

                &:focus {
                    box-shadow: none;
                    border-color: #ccc;
                }
            }

            .contact_btn {
                display: flex;
                justify-content: flex-end;
                    .send_btn{
                        background-color: #ffc400;
                        color: #fff;
                        font-size: 17px;
                        font-weight: 600;
                        border: none;
                        padding: 8px 40px;
                        border-radius: 4px;
                        text-transform: uppercase;
                        transition: 0.3s ease-in;
                        box-shadow: -4.828px -4.828px 12px 0px rgb(255 200 39 / 40%), 3px 5px 15px 0px rgb(255 82 1 / 20%);
        
                        &:hover {
                            background-color: #fff;
                            color: #ffc400;
                            transition: 0.3s ease-in;
                        }
                    }
            }
        }
    }
}