.info_section{
    // height: 65vh;
    width: 100%;
    background-image: url("../../images/player.png");
    background-repeat: no-repeat;
    // background-attachment: fixed;
.info_title{
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}
        .info_table{
            background: #0943a0ba;
            padding: 50px;
            border-radius: 20px;
                table{
                    color: #fff;
                     tbody{
                        tr{
                            &:hover{
                                background-color: #0e102e;
                            }
                            td{
                                padding: 10px;
                                font-weight: 500;
                            }
                        }
                     }
                }
        }
 }