.info_section{
    // height: 65vh;
    width: 100%;
    background-image: url("../../images/player1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    // padding: 50px 0px;
    @media screen and (max-width:767px){
        padding: 0px;
    }
    .para{
        color: #fff;
        text-align: center;
        padding-top: 50px;
    }
    
.info_title{
    text-align: center;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 2px rgb(255 0 82 / 90%);
}
        .info_table{
            background: rgb(15 5 126 / 69%);
            padding: 50px;
            border-radius: 20px;
            margin-bottom: 50px;
                table{
                    color: #fff;
                     tbody{
                        tr{
                            &:hover{
                                background-color: #0e102e;
                            }
                            td{
                                padding: 10px;
                                font-weight: 500;
                            }
                        }
                     }
                }
        }
 }