.playBet_section{
    // background-color: #09316b;
    background-color: #030043;
    background-image: url("../../images/bg.png");
    background-position: center;
    padding: 100px 50px;
    color: #fff;
        .img_div{
            img{
                display: block;
    margin: auto;
            }
        }
        .content{
            p{
               font-size: 16px;
               padding: 100px 100px 0px 100px;
                span{
                    font-weight: 700;
                    font-size: 2.6rem;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-family: 'Ubuntu', sans-serif;
                    text-shadow: 2px 2px 2px rgb(255 0 82 / 90%);
                    
                }
                @media screen and (max-width:767px){
                    padding:0px;
                    span{
                        font-size: 2rem;
                    }
                }
            }
            .play_btn{
                a{
                    color: #000 !important;
                    background-color: #ffc400;
                    border: 3px;
                    margin: 100px auto;
                    padding: 10px 30px;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    max-width: 50%;
                    font-size: 22px;
                    font-weight: 700;
                    border-radius: 4px;
                    text-transform: uppercase;
                    text-decoration: none;
                    position: relative;
                    box-shadow: 0 0 0 0 #ffa031;
                    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);

                    @keyframes pulse{
                        to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}
                          }

                          @media screen and (max-width:767px){
                            max-width: 80%;
                          }
                }
            }
        }
}
@media screen and (max-width:992px){
    .playBet_section{
        padding: 40px 10px;
    }
    .content{
        margin-top: 30px;
    }
}
