@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Josefin+Sans:wght@200&family=Lora:ital@1&family=Satisfy&family=Ubuntu:ital,wght@0,300;0,500;1,400&display=swap');

body {
    background-color: #0b001b !important;
    font-family: 'Ubuntu', sans-serif;
}

.header_section {
    .navbar {
        // height: 72px;
        clear: both;
        background-color: #05061d;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 1px solid #072543;

        .navbar-brand {
            color: #ffa031;
            font-size: 2rem;
            line-height: 0.6;
            font-weight: 700;
            margin-left: 25px;
            padding: 10px;

            .span1 {
                color: #fff;
            }

            .span2 {
                color: #fff;
                margin-left: 57px;
            }

            .span3 {
                font-size: 16px;
                // margin-left: 57px;
            }
        }
        .navbar-toggler-icon{
            background-image: url("../../images/navicon.png");
        }
        .navbar-nav {
            margin-right: 60px;

            .nav-item {
                .nav-link {
                    color: #fff;
                    margin: 0px 15px;
                    font-size: 14px;
                    font-weight: 600;
                    border-bottom: 1px solid transparent;
                    transition: 0.5s ease-in;

                    svg {
                        font-size: 26px;
                        margin-top: -2px;
                    }

                    &:hover {
                        color: #ffa031;
                        transition: 0.5s ease-in;
                    }
                }

               

                // .dropdown_menu {
                //     visibility: hidden;
                //     opacity: 0;
                //     margin: 0;
                //     padding: 0;
                //     width: 170px;
                //     position: absolute;
                //     left: 0px;
                //     background: #fff;
                //     z-index: 99;
                //     transform: translate(0, 20px);
                //     transition: all 0.2s ease-out;
                // }
               
            }
        }
    }
}
